
main {
    display: flex;
    flex-direction: column;
    width: 100%;
    
}

main > section.pipeline-compra {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

main > section.pipeline-compra > div.conteiner-checkbox {
    display: flex;
    
}

main > section.pipeline-compra > div.conteiner-checkbox > div.check-line img {
    width: 4rem;
    align-self: center;
    
}

.project {
  width: 150vh;
  padding: 3rem;
}
  .project > div {
    display: inline-block;
    margin: 0 -5px 0 0;
    vertical-align: middle;
  }
.task {
  width: 2rem;
  height: 2rem;
  border: .4em solid #E4E4E7;
  background: #E4E4E7;
  border-radius: 100%;
}

.task h5 {
    margin-top: 2rem;
    margin-left: -1rem;
    text-align: center;
}
.progress {
  width: calc( 50% - 3em);
  height: .6em;
  padding: .2em 0;
  background: #E4E4E7;
  position: relative;
}
  .progress > div {
    height: .2em;
    left: -.4em;
    right: -.4em;
    position: absolute;
  }
.pending { background: #F8AC59; }
.running { background: #1C84C6; }
.passed { background: #1AB394; }
.failed { background: #ED5565; }

section.aviso {
    /*border: 0.1rem solid black;*/
    padding: 1rem;
    width: 100%;
    font-size: 1.5rem;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 20px 40px #2426721C;
    border-radius: 1rem;
    opacity: 1;
}

section.sub-titulo-carrinho {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

section.sub-titulo-carrinho > div.botton-finalizar-compra {
    display: flex;
    
}

section.sub-titulo-carrinho > div.botton-finalizar-compra button {
    font-size: 1.2rem;
    border-radius: 3rem;
    border: none;
    background-color: rgb(255, 127, 80, 0.74);
    padding: 0.8rem;
    
}

section.sub-titulo-carrinho > div.botton-finalizar-compra button:hover {
    background-color: rgba(255, 127, 80, 0.281);
    transition: .3s;
    cursor: pointer;
}

section.cabecalho-carrinho {
    display: flex;
    width: 100%;
    gap: 0.5rem;
    text-align: center;
    align-items:center;
    margin-bottom: 0;
    
}

section.cabecalho-carrinho > div.txt-foto-produto{
    width: 25%;
}

section.cabecalho-carrinho > div.txt-nome-produto{
    width: 40%;

}

section.cabecalho-carrinho > div.txt-preco-unitario{
    width: 10%;
}

section.cabecalho-carrinho > div.txt-quantidade-produto{
    width: 10%;

}

section.cabecalho-carrinho > div.txt-quantidade-produto{
    width: 15%;
    
}

section.cabecalho-carrinho > div.txt-excluir{
    width: 10%;
}

section.cabecalho-carrinho > div.txt-subtotal{
    width: 10%;
}

section.todos-os-itens-carrinho {
    display: flex;
    flex-direction: column;
}

div.tabela-itens-carrinho {
    display: flex;
    flex-direction: row;
    width: 100%;
    text-align: center;
    align-items:center;
    margin-bottom: 0;
    /*border-left: 0.1rem solid black;
    border-right: 0.1rem solid black;
    border-bottom: 0.1rem solid black;*/
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 20px 40px #2426721C;
    border-radius: 1.4px;
    opacity: 1; 
}

#MeioCheck img {
    margin-left: 3.3rem;

}

#Direita-Check img {
    margin-left: 2.5rem;

}


/*#first-produto {
    border-top: 0.1rem solid black;;
}
*/

div.tabela-itens-carrinho > div.linha-de-produto {
    display: flex;
    text-align: center;
    align-items:center;
}

div.foto-produto {
    width: 25%;

}

div.nome-produto {
    width: 40%;

}

div.preco-unitário {
    width: 10%;
    
}

div.quantidade-produto {
    width: 15%;
}

div.quantidade-produto input {
    width: 30%;
    height: 2rem;

    background-color:transparent;
    font-style:italic;
    font-size:18px;
    border: 1px solid gray;  
    border-radius: 0.2rem;     

}



div.subtotal {
    width: 10%;
}

div.excluir {
    width: 10%;
}

div.foto-produto img {
    width: 40%;
}

div.excluir img {
    width: 20%;
}

section.rodape-carrinho {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 2.5rem;
}

div.continuar-compando button {
    border-radius: 1.5rem;
    padding: 0.8rem;
    border: none;
    background-color: rgb(255, 127, 80, 0.74);
}

div.continuar-compando button:hover{
    background-color: rgba(255, 127, 80, 0.281);
    transition: .3s;
    cursor: pointer;
}


div.atualizar-valores button {
    border-radius: 1.5rem;
    padding: 0.8rem;
    border: none;
    background-color: rgba(255, 127, 80, 0.74);
}
div.atualizar-valores button:hover{
    background-color: rgba(255, 127, 80, 0.281);
    transition: .3s;
    cursor: pointer;
}

section.frete-cupom-total {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 1rem;
    margin-bottom: 5rem;
}

section.frete-cupom-total > div.txt-frete {
    border-radius: 2.5rem;
    width: 33%;
    padding-top: 1rem;
    padding-left: 1rem;
}

section.frete-cupom-total > div.txt-cupom {
    border-radius: 2.5rem;
    width: 33%;
    padding-top: 1rem;
    padding-left: 1rem;
}

section.frete-cupom-total > div.conteiner-subtotal {
    display: flex;
    justify-content: flex-end;
    border-radius: 2.5rem;
    width: 30%;
    padding-top: 1rem;
    padding-left: 1rem;
    
}

section.frete-cupom-total > div.conteiner-subtotal > div.txt-subtotal {
    text-align: end;
}

section.frete-cupom-total > div.conteiner-subtotal > div.soma-subtotal {
    text-align: center;
    padding-top: 0.4rem;
    
}

div.txt-frete button {
    background-color: rgba(243, 233, 233);
    border-radius: 1rem;
    width: 20%;
    height: 20%;
    border: none;
}

div.txt-frete button:hover{
    background-color: rgba(72, 102, 146, 0.404);
    cursor: pointer;
    transition: .3s;
}

div.txt-frete input {
    width: 40%;
    border-radius: 1rem;
    height: 15%;
    
}

div.txt-cupom button {
    background-color: rgba(243, 233, 233);
    border-radius: 1rem;
    width: 20%;
    height: 20%;
    border: none;
}

div.txt-cupom button:hover{
    background-color: rgba(72, 102, 146, 0.404);
    cursor: pointer;
    transition: .3s;
}


div.txt-cupom input {
    width: 40%;
    border-radius: 1rem;
    height: 15%;
}

div.soma-subtotal button {
    background-color: rgba(255, 127, 80, 0.74);
    border-radius: 3rem;
    width: 100%;
    height: 25%;
    border: none;
}

div.soma-subtotal button:hover {
    background-color: rgba(255, 127, 80, 0.281);
    transition: .3s;
    cursor: pointer;
}


