body * {
    font-family: 'Fira Sans', sans-serif;
}

header.aviso-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    
}

header.aviso-header > h5.frase-motion{
    display: flex;
    background-color: white;
    width: 90%;
    animation-duration: 5s;
    animation-name: slidein;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    
}

@keyframes slidein {
    from{
        
        margin-left: 60%;
        width: 40%;

    }

    to {
        margin-left: 5%;
        width: 40%;
    }
}

header.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    margin-bottom: 1rem;
    box-shadow: 0rem 0rem .2rem .2rem gray;
    background-color: white;    
}

header.nav > nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    
}

header.nav > .logo-header img {
    width: 18rem;
    
    
}

header.nav > .divBusca img {  
    width: 2rem;

}

header.nav > .divBusca > input {
    flex-grow: 1;
    
}

header.nav > .divBusca > input:focus{
    outline: none;
    border:none;
}

header.nav > .divBusca {
    display: flex;
    flex-grow: 1;
    max-width: 35rem;
    align-items: center;
    text-transform: uppercase;
    background-color:#f7f7f7;
    border:solid 1px;
    border-radius: 15px;
    height: 2.5rem;
  }

header.nav > nav > .divCarrinho img {  
    width: 2.5rem;

}

#txtBusca{
    background-color:transparent;
    padding-left:5px;
    font-style:italic;
    font-size:18px;
    border:none;
    height:32px;
    width:260px;
  }


  a.btnMinhaConta {
    font-size: 2rem;
    border: none;
    background-color: #143CDB;
    color: white;
    padding: 0.5rem;
    text-decoration: none;
    
  }

  header.nav > nav > .divMinhaConta img {  
    width: 2.5rem;

}
 
.mainProduto{
    margin-top: 35px;

}

#categoria{
    color: orange;
    margin-left: 10px;
    padding: 0px;
    width: 600PX;
    text-align: left;
    font-size: 26px;
    /* border: solid 3px black; */
    
}

#categoria p a{
    text-decoration: none;
    color: orange;
}

#categoria p{
    margin: 5px 10px;
    padding: 0px;
}

#descricaoMain{
    /* box-shadow: 0rem 0rem .2rem .2rem gray; */
    display: flex;
    margin-left: 2rem;
    /* background-color: aliceblue; */
}

#descricaoMain >img:first-child{
    width: 600px;
    height: 600px;
    margin-top: 10vh;

}

#descricaoProduto{
    position: absolute;
    left: 900px;
    box-shadow: 0rem 0rem .2rem .2rem gray;
    width: 40vw;
    margin-left: 15px;
    padding: 15px;
    background: rgb(249, 250, 246);
}

#nomeDoProduto{
    /* border: solid 3px black; */
    width: 85%;
    padding-bottom: 0px;

}

#nomeDoProduto h1{
    margin: 20px 10px ;
    margin: 10px 0px;
}

#sku{
    /* border: solid 3px black; */
    border-top: none;
    width: 20%;
    /* margin-top: 10px; */
    position: relative;
    top: -0.2rem;
}

#sku p{
    margin: 3px;

}

#preco{
    font-weight: 100;
    font-size: 30px;
    margin-top: 10px;
    display: flex;
    width: 100px;
    justify-content: space-between;
}

#precopromocao{
    text-decoration-line: line-through;
}

#preco div{
    /* border: solid 3px black; */
    padding: 0px 1rem;
}

#quantidade{
    display: flex;
    width: 50%;
    justify-content: space-between;
}

#quantidade div{
    margin-top: 10px;
    border: solid 3px black;
}

#comprar{
    margin-top: 10px;
    padding: 0 3rem;
    border-radius: 10%;
}

#desejos{
    display: flex;

}

#desejos img{
    width: 50px;
    height: 50px;
}

#cep{
    display: flex;
    flex-direction: column;
    width: 200px;
    text-align: center;
    gap: 5px;
}

#cep button{
    width: 208px;
}

.cep{
    text-align: center;
    height: 25px;
    width: 200px;
}

#compartilhe{
    width: 300px;
}

#compartilhe img{
    width: 50px;
}

