 .provasocial{
            
            width: 90%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            justify-content: space-around;
            background-image: linear-gradient(to bottom, white 20% , rgb(250, 195, 101));
            flex-wrap: wrap;
            }

        .foto{
            width: 100px;
            
           
            padding: 20px;
            text-transform: uppercase;
            display: flex;
            align-items: center;
            padding-left: 80px;
            
        }
        .foto img{
           
           width: 100%;
           border-radius: 50%;
           width: 100px;
           height: 100px;
           
           
        }
        .border{
            border: solid right 1px;
            height: 176px;
            justify-content: center;
            width: 0;
        }
        .elogio{
            width: 400px;
            height: 100px;
            text-transform: uppercase;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            
            
        }

  .pagina-empresa {
    display: flex;
    flex-direction: column;
    margin-left: 20rem;
    margin-right: 20rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
  }

  footer {
    box-shadow: 0rem 0rem .2rem .2rem gray;
  }

  footer > div.div-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    gap:1rem;
    text-decoration: none;
  }

  footer > div > div.div-institucional {
    display: flex;
    flex-direction: row;
    color: orangered;
    background-color: rgb(249, 250, 246);
    width: 25%;
    height: 30rem;
  }

  footer > div > div > section.institucional {
    flex-direction: column;
    padding: 1.5rem;
       
  }

  footer > div > div.div-atendimento {
    display: flex;
    flex-direction: row;
    color: orangered;
    background-color: rgb(249, 250, 246);
    width: 25%;
    height: 30rem;
  }

  footer > div > div > section.atendimento {
    padding: 1.5rem;
    width: 100%;
  }

  div.div-atendimento > section.atendimento img {
    width: 1.5rem;
    height: 1.5rem;
  }

  div.contatos-footer {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    gap: .5rem;
  }


  .institucional a {
    text-decoration: none;
    color: black;
  }
  .contatos-footer a {
    text-decoration: none;
    color: black;
  }

  .rede-sociais a {
    text-decoration: none;
    color: black;
  }
  
  .institucional a:hover {
    text-transform: uppercase;
    color: orange;
    transition: 0.4s;
  }

  .contatos-footer a:hover {
    text-transform: uppercase;
    color: orange;
    transition: 0.4s;
  }

  .rede-sociais a:hover {
    text-transform: uppercase;
    color: orange;
    transition: 0.4s;
  }

  div.down-div {
    border-top: .1rem solid black;
    display: flex;
    flex-direction: row;

  }

  footer > div > div.div-rede-sociais {
    display: flex;
    color: orangered;
    flex-direction: row;
    background-color: rgb(249, 250, 246);
    width: 25%;
    height: 30rem;
    gap: 2rem;
  }


  footer > div > div > section.rede-sociais {
    padding: 1.5rem;
    width: 100%;
  }

  div.div-rede-sociais > section.rede-sociais img {
    width: 1.5rem;
    height: 1.5rem;
  }

  div.redeSocial-footer {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    gap: .5rem;
  }

  footer > div > div.div-formas-pagamento {
    display: flex;
    flex-direction: column;
    color: orangered;
    background-color: rgb(249, 250, 246);
    width: 25%;
    height: 30rem;
  }

  footer > div > div > section.formas-pagamento {
    padding: 1.5rem;
    width: 100%;
  }

  .imagem-formas-pagamento img {
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 20rem;
  
  }

  p.copy {
    text-align: center;
    background-color: rgb(249, 250, 246);
  }