<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <% for( let index = 0; index < css.length; index++ ) { %>
        <link rel="stylesheet" href="/stylesheets/<%=css[index]%> ">
    <% } %>
    <script src="/javascripts/<%=javascript%> " defer></script>
    
    <title>Cadastro de produto</title>
</head>

<body>
    <header class="nav">
        <h1>Seja bem vindo ao painel de usuário</h1>
    </header>
   <main>
    <section class="menuCrud">
        <nav>
            <a href="">Cadastrar</a>
            <a href="">Alterar</a>
            <a href="">Excluir</a>
        </nav>
    </section>


   </main>
    
</body>

