<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <% for( let index = 0; index < css.length; index++ ) { %>
        <link rel="stylesheet" href="/stylesheets/<%=css[index]%> ">
    <% } %>
    <script src="/javascripts/<%=javascript%> " defer></script>
    <link rel="stylesheet" href="../css/cadastro-produto.css">
    <link rel="stylesheet" href="../css/cadastro.css">
    
    <title>Cadastro de produto</title>
</head>

<body>
    <div class="cadastro-produtos">


        <section class="section">

            <header class="nav">
                <div class="logo-header">
                    <a href="index"><img src="images/logo-sabores.png" alt="logo globo terrestre"
                            width="60%"></a>
                </div>

                <div class="divBusca">
                    <input type="search" id="txtBusca" placeholder="Busque seu produto..." />
                    <a href="#"><img src="images/header-footer/lupa-.png" id="btnBusca" width="20rem" /></a>
                </div>

                <nav class="carrinho-conmpra">
                    <div class="divMinhaConta">
                        <a href="#"><img src="images/header-footer/user-nav.png" id="btnMinhaConta"
                                alt="minha-conta" /></a>
                    </div>

                    <div class="divCarrinho">
                        <a href="carrinho"><img src="images/header-footer/carrinho-compras.png"
                                id="btnCarrinho" alt="carrinho" /></a>
                    </div>
                </nav>
            </header>
            <div>

                <div class="titulo">
                    <h1> CADASTRAR NOVO PRODUTO</h1>
                </div>

                <form class="cadastrando" method="post" action="/cadastro-produto/cadastro">

                    <div class="compactar">

                        <input class="card" name="codigo" type="text" placeholder="Código" id="codigo" >
                        <input class="card" name="tipo" type="text" placeholder="Tipo" id="tipoProduto">

                    </div>

                    <input class="card-medio-longo" type="text" id="nomeProduto" name="nome" placeholder="Nome do produto" required>

                    <select class="card-medio" name="categoria">
                        <option value="suica" selected disabled style="display:none;">Grupo</option>
                        <option value="bebida">Bebida</option>
                        <option value="salgado">Salgado</option>
                        <option value="doces">Doces</option>
                        <option value="temperos">Temperos</option>
                        <option value="massas">Massas</option>
                    </select>

                    <input class="card-medio" type="text" id="marcaProduto" placeholder="Marca">

                    <select class="card-medio" name="regiao">
                        <option value="suica" selected disabled style="display:none;">Categoria</option>
                        <option value="américa-latina">América-Latina</option>
                        <option value="Europa">Europa</option>
                        <option value="asiatico">Esiático</option>
                        <option value="américa do norte">América do Norte</option>
                        <option value="áfrica">África</option>
                    </select>


                    <input class="card-medio" type="number" name="produto" placeholder="Estoque Minimo" id="estoqueMinimo" required>
                    <input class="card-medio" type="number" name="number" placeholder="Estoque Atual" id="estoqueAtual">
                    <input class="card-medio" type="text" name="text" placeholder="SKU" id="sku" required>
                    <input class="card-longo" type="text" name="valorVenda" placeholder="Preço" id="priceProduto" required>
                    <input class="card-longo" type="text" name="valorSemDesconto" placeholder="Custo do Produto" id="custoProduto">


                    <div class="novo-produto">
                    </div>

                    <input type="file" class="add" id="uploadImage" name="imagem">

                    <img class="plano-de-fundo" src="images/logo-sabores.png" alt="imagem de fundo" width="50%">

                    <textarea class="descricao" name="descricao" name="descricao" cols="30" rows="10" id="descricaoProtudo">

                    </textarea>

                    <div class="status">
                        <div class="no-momento">
                            <p>Status</p>
                        </div>


                        <bottom type="submit" class="atividade"> Ativo</bottom>
                        <bottom class="atividade"> Inativo</bottom>

                    </div>

                    <div class="botao">
                        <input class="botoes" type="submit" name="salvar-produto" value="Salvar produto">
                        <input type="submit" class="botoes" name="salvar-rescunho" value="Salvar Rascunho">
                        <input class="botoes" type="reset" name="cancelar" value="Cancelar">
                    </div>
                </form>
            </div>
        </section>


    </div>


</body>
