<%- include('./partials/meta') %>
<%- include('./partials/tawktoo') %>
<%- include('./partials/header') %>

        <section class="aviso">
            <li>Não se esqueça de Confirmar os "Dados do seu endereço" antes de finalizar a compra</li>
        </section>
        <section class="sub-titulo-carrinho">
            <div class="sub-titulo-texto">
                <h2>Carrinho de Compras</h2>
            </div>
            <div class="botton-finalizar-compra">
                <button class="finalizar-pedido">FINALIZAR PEDIDO</button>
            </div>
        </section>
        <section class="cabecalho-carrinho">
            <div class="txt-foto-produto">
                <h2>FOTO PRODUTO</h2>
            </div>
            <div class="txt-nome-produto">
                <h2>NOME PRODUTO</h2>
            </div>
            <div class="txt-preco-unitario">
                <h2>PREÇO UNITÁRIO</h2>
            </div>
            <div class="txt-quantidade-produto">
                <h2>QUANTIDADE</h2>
            </div>
            <div class="txt-subtotal">
                <h2>SUBTOTAL</h2>
            </div>
            <div class="txt-excluir">
                <h2>EXCLUIR</h2>
            </div>     
        </section>
        <section class="todos-os-itens-carrinho">
            <div class="tabela-itens-carrinho">
                
            </div>
        </section>
        <section class="rodape-carrinho">
            <div class="continuar-compando">
                <button>CONTINUAR COMPRANDO</button>
            </div>
            <div class="atualizar-valores">
                <button>ATUALIZAR VALORES</button>
            </div>
        </section>
        <section class="frete-cupom-total">
            <div class="txt-frete">
                <h2>Calcular Frete</h2>
                <h3>informe seu CEP para Calcular o valor da entrega.</h3>
                <h3>CEP:</h3>
                <input type="ranger">
                <button>Calcular</button>
            </div>
            <div class="txt-cupom">
                <h2>Cupom de Desconto</h2>
                <h3>informe aqui seu cupom promocional.</h3>
                <h3>Cupom:</h3>
                <input type="ranger">
                <button>Usar Cupom</button>
            </div>
            
            <div class="conteiner-subtotal">
                <div class="txt-subtotal">
                    <h2>Subtotal</h2> 
                    <h2>Valor Total</h2> 
                </div>
                <div class="soma-subtotal">
                    <h3>R$ 00,00</h3>
                    <h3>R$ 00,00</h3>
                    <button>Finalizar Pedido</button>
                </div>

            </div>
            <div class="cupom">
                
            </div>
        </section>






    </main>

    <%- include('./partials/footer') %>