<%- include('./partials/meta') %>
<%- include('./partials/tawktoo') %>
<%- include('./partials/header') %>

<body>
    <header class="aviso-header">
        <h5 class="frase-motion"> Parcele sua compra em até 6 x sem juros, entrega gratuita para compras a cima de
            R$200,00 </h5>
    </header>

    <header class="nav">
        <div class="logo-header">
            <a href="../index.html"><img src="../imagens/logo-sabores.png" alt="" class="logo"></a>
        </div>

        <div class="divBusca">
            <input type="search" id="txtBusca" placeholder="Busque seu produto..." />
            <a href="#"><img src="../imagens/header-footer/lupa-.png" id="btnBusca" alt="Buscar" /></a>
        </div>

        <nav>
            <div class="divMinhaConta">
                <a href="#"><img src="../imagens/header-footer/user-nav.png" id="btnMinhaConta"
                        alt="minha-conta" /></a>
            </div>

            <div class="divCarrinho">
                <a href="carrinho.html"><img src="../imagens/header-footer/carrinho-compras.png" id="btnCarrinho"
                        alt="carrinho" /></a>
            </div>
        </nav>
    </header>

    <main>
        <section class="pagina-empresa">
            <div class="titulo-empresa">
                <h1> Nossa Empresa</h1>
            </div>
            <div class="texto-empresa">
                <p>"Proporcionar uma experiência de compra encantadora ao cliente oferecendo produtos asiaticos,
                    orientais e europeus diferenciados e de uso e consumo consagrados, utilizando-se de loja virtual
                    compromissada com produto, informação, serviços, entrega, garantia e assistência."</p>
                <p>A Sabor do Mundo foi criada com a finalidade de comercialização de produtos asiaticos, orientais e
                    europeus através de loja virtual propondo uma experiência de compra simplificada e tranquila para os
                    consumidores desde a visita inicial até o pós-venda; em ambiente confiável, informativo, com
                    facilidade de navegação e que estimula novas visitas.</p>
                <p>Incorporada às operações da empresa, nossos valores estão representados pela versatilidade, dinamismo
                    e eficiência de atendimento.</p>
                <p>Versatilidade que se resume na ampla oferta de produtos que incluem utilidades domésticas e
                    ingredientes. Seja para iniciantes ou admiradores da culinária asiatica, oriental e europeu, o
                    portfólio de produtos disponibiliza os recursos necessários ao preparo da refeição com sugestões,
                    dicas e receitas relacionadas ao produto.</p>
                <p>Localizada na Cidade de São Paulo próximo ao Bairro da Liberdade, referência nacional na
                    comercialização de produtos asiaticos, orientais e europeus, a Empresa está preparada para atender
                    com dinamismo as necessidades de seus clientes. Novidades, lançamentos ou pedidos especiais de
                    produtos são disponibilizados em curto espaço de tempo.</p>
                <p>Da escolha do produto, fornecedores, facilidade de navegação, passando pelas formas de pagamento e
                    operadores de entrega e distribuição; parceiros e colaboradores são monitorados e integrados às
                    operações do Sabores do Mundo para garantir o conjunto de atendimento eficiente.</p>
                <p>Seja pela comodidade oferecida ao cliente de receber os produtos em sua casa ou disponibilizá-los em
                    localidades que não possuam oferta de produtos asiaticos, orientais e europeus, o Sabor do Mundo
                    reconhece a importância e o valor de cada visitante, assim como o compromisso no desenvolvimento e
                    melhoria contínua da oferta de produtos e serviços que agregam valor à sua missão.</p>
                <p>Boas Compras!!</p>

            </div>

            <div class="missao">
                <h1>Missão:</h1>
                <p>Disseminar e Popularizar a Cultura e os Produtos Asiaticos, Orientais e Europeu em toda a América
                    Latina.</p>
            </div>

            <div class="visao">
                <h1>Visão:</h1>
                <p>Tornar-se a maior loja virtual de Produtos Asiaticos, Orientais e Europeu da América Latina.</p>
            </div>
            <div class="valores">
                <h1>Valores:</h1>
                <ul>
                    <li>Eficiência</li>
                    <li>Rapidez na entrega</li>
                    <li>Credibilidade</li>
                    <li>Atendimento de Primeira qualidade</li>
                    <li>Responsabilidade Social</li>
                    <li>Intercâmbio Cultural</li>
                </ul>
            </div>
            <div>
                <p>Administração Sabor do Mundo</p>
                <p>SABOR DO MUNDO COM. PRODUTOS IMPORTADOS LTDA <br>
                    CNPJ: 08.899.253/0001-50</p>
                <p>Escritório: <br>Rua Pioneiro Ambrosio 297 <br>87040-560 - Jardim Olimpico - São Paulo - SP
                    <br>contato: contato@sabordomundo.com.br</p>
            </div>
        </section>



    </main>

    <%- include('./partials/footer') %>