<%- include('./partials/meta') %>
<%- include('./partials/tawktoo') %>
<%- include('./partials/header') %>

    <main>
            <div class="conteiner-painel-pedidos">
                <div class="painel-vertical">
                    <div class="foto-cliente">
                        <a href="#"><img src="../imagens/foto-cliente/cliente1-dog.webp" width="300px" alt=""></a>
                        <h3>Dog Boss</h3>
                    </div>
                    <div class="nav-painel">
                        <div>
                            <a href=""><h5>MEU CADASTRO</h5></a>
                        </div>
                        <div>
                            <a href=""><h5>MEUS PEDIDOS</h5></a>
                        </div>
                        <div>
                            <a href=""><h5>MEUS CARTÕES</h5></a>
                        </div>
                        <div>
                            <a href=""><h5>ARREPENDIMENTOS</h5></a>
                        </div>
                    </div>
                    <div class="atendimento-painel">
                        <div id="contatos">
                            <p>E-mail: contato@saboresdomundo.com.br<br>
                                Telefone: (44) 99866-2398</p>
                        </div>
                        <div id="chat-link">
                            <p><a href="https://tawk.to/chat/6361aaa1b0d6371309ccc776/1ggqo5293"> Atendimento via Chat</a></p>
                        </div>
                    </div>
                </div>
                <div class="tabela-pedidos">
                    <div class="meus-pedidos-titulo">
                        <h1>Meus pedidos</h1>
                        <p>Aqui você encontra todos os seus pedidos.</p>
                    </div>
                    <div class="cabecalho-pedido">
                        <div class="txt-nro-pedido">
                            <h3>Número do pedido</h3>
                        </div>
                        <div class="txt-data-compra">
                            <h3>Data</h3>
                        </div>
                        <div class="txt-status-pagamento">
                            <h3>Pagamento</h3>
                        </div>
                        <div class="txt-andamento-compra">
                            <h3>Posição</h3>
                        </div>
                        <div class="txt-nota-fiscal">
                            <h3>Nota Fiscal</h3>
                        </div>  
                    </div>
                        <div class="pedidos-clientes">
                            <div class="nro-pedido-cliente">
                                <h4>15268941</h4>
                            </div>
                            <div class="data-compra-cliente">
                                <h4>30/10/2022</h4>
                            </div>
                            <div class="status-pagamento-cliente">
                                <h4>Aprovado</h4>
                            </div>
                            <div class="andamento-compra-cliente">
                                <h4>Entregue</h4>
                            </div>
                            <div class="nota-fiscal-cliente">
                                <a href="#"><img src="../imagens/body-main/icon-nfe.png" alt=""></a>
                            </div>
                        </div>
                        <div class="pedidos-clientes">
                            <div class="nro-pedido-cliente">
                                <h4>15268941</h4>
                            </div>
                            <div class="data-compra-cliente">
                                <h4>30/10/2022</h4>
                            </div>
                            <div class="status-pagamento-cliente">
                                <h4>Aprovado</h4>
                            </div>
                            <div class="andamento-compra-cliente">
                                <h4>Entregue</h4>
                            </div>
                            <div class="nota-fiscal-cliente">
                                <a href="#"><img src="../imagens/body-main/icon-nfe.png" alt=""></a>
                            </div>
                        </div>
                        <div class="pedidos-clientes">
                            <div class="nro-pedido-cliente">
                                <h4>15268941</h4>
                            </div>
                            <div class="data-compra-cliente">
                                <h4>30/10/2022</h4>
                            </div>
                            <div class="status-pagamento-cliente">
                                <h4>Aprovado</h4>
                            </div>
                            <div class="andamento-compra-cliente">
                                <h4>Entregue</h4>
                            </div>
                            <div class="nota-fiscal-cliente">
                                <a href="#"><img src="../imagens/body-main/icon-nfe.png" alt=""></a>
                            </div>
                        </div>
                        <div class="pedidos-clientes">
                            <div class="nro-pedido-cliente">
                                <h4>15268941</h4>
                            </div>
                            <div class="data-compra-cliente">
                                <h4>30/10/2022</h4>
                            </div>
                            <div class="status-pagamento-cliente">
                                <h4>Aprovado</h4>
                            </div>
                            <div class="andamento-compra-cliente">
                                <h4>Entregue</h4>
                            </div>
                            <div class="nota-fiscal-cliente">
                                <a href="#"><img src="../imagens/body-main/icon-nfe.png" alt=""></a>
                            </div>
                    </div>
                </div>
            </div>   
    
    
        
    
    
        
    
    
    
    </main>
    <footer>
        <div class="div-footer">
            <div class="div-institucional">
                <section class="institucional"><h3>Institucional</h3>
                    <div>
                        <a href="../html/empresa.html"><h5>Empresa</h5></a>
                        <a href="#"><h5>Como comprar</h5></a>
                        <a href="#"><h5>Segurança</h5></a>
                        <a href="#"><h5>Envio</h5></a>
                        <a href="#"><h5>Pagamento</h5></a>
                        <a href="#"><h5>Troca e Devoluções</h5></a>
                        <a href="#"><h5>Depoimentos de Clientes</h5></a>
                        <a href="#"><h5>Política de Privacidade</h5></a>
                        <a href="#"><h5>Termo de uso</h5></a>
                        <a href="#"><h5>Contato</h5></a>
                    </div>
                </section>
            </div>
            <div class="div-atendimento">
                <section class="atendimento"><h3>Atendimento</h3>
                    <div class="up-div">
                        <div class="contatos-footer">
                            <img src="../imagens/header-footer/telefone-icon.png" alt="">
                            <a href="#"><h5>Telefone</h5></a>
                        </div>
                        <div class="contatos-footer">
                            <img src="../imagens/header-footer/whatsapp-icon.png" alt="">
                            <a href="#"><h5>Whatsapp</h5></a>
                        </div>
                        <div class="contatos-footer">
                            <img src="../imagens/header-footer/email-icon.png" alt="">
                            <a href="#"><h5>E-mail</h5></a>
                        </div>
                    </div>
                    <div class="down-div">
                        <p>Nosso horário de atendimento é de segunda a sexta feira das 09:00 até às 17:00 e Sábado das 08:00 até as 12:00.</p>
                    </div>
                </section>
            </div>
            
            <div class="div-rede-sociais">
                <section class="rede-sociais"><h3>Rede Sociais</h3>
                    <div class="up-div">
                        <div class="redeSocial-footer">
                            <img src="../imagens/header-footer/facebook-icon-removebg-preview.png" alt="">
                            <a href="#"><h5>Facebook</h5></a>
                        </div>
                        <div class="redeSocial-footer">
                            <img src="../imagens/header-footer/instagram-icon-removebg-preview.png" alt="">
                            <a href="#"><h5>Instagram</h5></a>
                        </div>
                        <div class="redeSocial-footer">
                            <img src="../imagens/header-footer/linkedin-icon.png" alt="">
                            <a href="#"><h5>Linkedin</h5></a>
                        </div>
                    </div>

                </section>
            </div>
            <div class="div-formas-pagamento">
                <section class="formas-pagamento"><h3>Pagamento</h3>
                    <div>
                        <div class="imagem-formas-pagamento">
                            <img src="../imagens/header-footer/Credit-Card-Icons.png" alt="">
                        </div>
                    </div>
                </section>
            </div>
        </div>                           
    </footer>
    <p class="copy" >&copy; Copyright 2022, Sabores do mundo.</p> 
    <div id="modal-login" class="modal-container">
        <div class="modal div-login">
            <button class="fechar">&times;</button>
                <form>
                    
                    <div class="titulo-login">
                        <h1> ACESSAR A CONTA</h1>
                    </div>
                    <div class="login-email-senha">
                        <label for="email-cpf"></label>
                        <input type="text" name="email-cpf" id="email-cpf" placeholder="E-mail ou CPF"> 

                        <label for="senha"></label>
                        <input type="password" name="senha" id="senha" placeholder="Digite sua senha"> 
                    </div>
                    <div class="lembrar-senha">
                        <input class="senha" type="checkbox" name="esquecer-a-senha">
                        <label for="esquecer-a-senha">Lembrar senha</label>
                    </div>
                    <div class="botao-cadastro-e-login">
                        <div class="botao-cadastro">
                            <a href="../html/cadastro.html">Cadastrar</a>
                        </div>
                        <div class="botao-login">
                            <button type="submit">Login</button>      
                        </div>
                    </div>
                                     
                </form>
        </div>
    </div>
    <script src="../javascript/modal-login.js"></script>
    
</body>
</html>