<body>
    <header class="aviso-header">
        <h5 class="frase-motion"> Parcele sua compra em até 6 x sem juros, entrega gratuita para compras a cima de R$200,00 </h5>
    </header>

    <header class="nav">   
        <div class="logo-header" >
            <a href="index.html"><img src="images/logo-sabores.png" alt="" class="logo"></a>
        </div>

        <div class="divBusca">
            <input type="search" id="txtBusca" placeholder="Busque seu produto..."/>
            <a href="#"><img src="images/header-footer/lupa-.png" id="btnBusca" alt="Buscar"/></a>
        </div>
        
        <div class="mobile-menu-icon">
            <button onclick="menuShow()"><img class="icon" src="./images/menu_white_36dp.svg" alt=""></button>
        </div>

        
        <nav>
            <div class="divMinhaConta">
                <a href="#"><img src="images/header-footer/user-nav.png" id="btnMinhaConta" alt="minha-conta"/></a>
            </div>
            
            <div class="divCarrinho">
                <a href="/html/carrinho.html"><img src="images/header-footer/carrinho-compras.png" id="btnCarrinho" alt="carrinho"/></a>
            </div>
        </nav>
    </header>